<a href="https://colab.research.google.com/github/Jorge2018/DataScience2022-2/blob/main/Script_kaggleDOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
# Imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import tensorflow as tf

In [35]:
# Get data
df = pd.read_csv(r'https://raw.githubusercontent.com/Jorge2018/RepositorioArchivos/main/england-premier-league-players-2018-to-2019-stats.csv', index_col='full_name')
df.head()

,age,birthday,birthday_GMT,league,season,position,Current Club,minutes_played_overall,minutes_played_home,minutes_played_away,...,conceded_per_90_overall,min_per_conceded_overall,min_per_match,min_per_card_overall,min_per_assist_overall,cards_per_90_overall,rank_in_league_top_attackers,rank_in_league_top_midfielders,rank_in_league_top_defenders,rank_in_club_top_scorer
full_name,,,,,,,,,,,,,,,,,,,,,
Aaron Cresswell,32,629683200,1989/12/15,Premier League,2018/2019,Defender,West Ham United,1589,888,701,...,1.25,72,79,1589,1589,0.06,290,191,80,20
Aaron Lennon,34,545529600,1987/04/16,Premier League,2018/2019,Midfielder,Burnley,1217,487,730,...,1.48,61,76,1217,1217,0.07,196,187,-1,10
Aaron Mooy,31,653356800,1990/09/15,Premier League,2018/2019,Midfielder,Huddersfield Town,2327,1190,1137,...,1.78,51,80,582,2327,0.15,144,233,-1,3
Aaron Ramsey,31,662169600,1990/12/26,Premier League,2018/2019,Midfielder,Arsenal,1327,689,638,...,0.81,111,47,0,221,0.00,69,8,-1,5
Aaron Rowe,21,968284800,2000/09/07,Premier League,2018/2019,Forward,Huddersfield Town,69,14,55,...,1.30,69,35,0,0,0.00,-1,-1,-1,31

*La columna objetivo se define como:*

*   y = 1 si nationality='England'
*   y = 0 si nationality !='England'

In [36]:
df['nationality']=np.where(df['nationality'] =='England',1,0)
df =df.drop(columns=['birthday','birthday_GMT','league','season','position','Current Club'])

*Explora datos*

In [37]:
print('Number of Duplicated Rows', df.duplicated().sum())
print('\n')
print(df.info())
print('\n')
df.describe()

Number of Duplicated Rows 43


<class 'pandas.core.frame.DataFrame'>
Index: 570 entries, Aaron Cresswell to Łukasz Fabiański
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age                             570 non-null    int64
 1   minutes_played_overall          570 non-null    int64
 2   minutes_played_home             570 non-null    int64
 3   minutes_played_away             570 non-null    int64
 4   nationality                     570 non-null    int64
 5   appearances_overall             570 non-null    int64
 6   appearances_home                570 non-null    int64
 7   appearances_away                570 non-null    int64
 8   goals_overall                   570 non-null    int64
 9   goals_home                      570 non-null    int64
 10  goals_away                      570 non-null    int64
 11  assists_overall                 570 non-null    int64
 12  assists_home                    570 non-null    int64
 13  assists_away                    570 non-null    int64
 14  penalty_goals                   570 non-null    int64
 15  penalty_misses                  570 non-null    int64
 16  clean_sheets_overall            570 non-null    int64
 17  clean_sheets_home               570 non-null    int64
 18  clean_sheets_away               570 non-null    int64
 19  conceded_overall                570 non-null    int64
 20  conceded_home                   570 non-null    int64
 21  conceded_away                   570 non-null    int64
 22  yellow_cards_overall            570 non-null    int64
 23  red_cards_overall               570 non-null    int64
 24  goals_involved_per_90_overall   570 non-null    float64
 25  assists_per_90_overall          570 non-null    float64
 26  goals_per_90_overall            570 non-null    float64
 27  goals_per_90_home               570 non-null    float64
 28  goals_per_90_away               570 non-null    float64
 29  min_per_goal_overall            570 non-null    int64
 30  conceded_per_90_overall         570 non-null    float64
 31  min_per_conceded_overall        570 non-null    int64
 32  min_per_match                   570 non-null    int64
 33  min_per_card_overall            570 non-null    int64
 34  min_per_assist_overall          570 non-null    int64
 35  cards_per_90_overall            570 non-null    float64
 36  rank_in_league_top_attackers    570 non-null    int64
 37  rank_in_league_top_midfielders  570 non-null    int64
 38  rank_in_league_top_defenders    570 non-null    int64
 39  rank_in_club_top_scorer         570 non-null    int64
dtypes: float64(7), int64(33)
memory usage: 182.6+ KB
None

,age,minutes_played_overall,minutes_played_home,minutes_played_away,nationality,appearances_overall,appearances_home,appearances_away,goals_overall,goals_home,...,conceded_per_90_overall,min_per_conceded_overall,min_per_match,min_per_card_overall,min_per_assist_overall,cards_per_90_overall,rank_in_league_top_attackers,rank_in_league_top_midfielders,rank_in_league_top_defenders,rank_in_club_top_scorer
count,570.000000,570.000000,570.00000,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,...,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000,570.000000
mean,28.952632,1317.577193,658.95614,658.621053,0.377193,18.380702,9.184211,9.196491,1.824561,1.008772,...,1.210386,63.638596,56.487719,475.163158,464.422807,0.140263,154.103509,154.103509,26.324561,11.277193
std,4.359851,1096.272614,557.48134,549.122038,0.485110,12.863375,6.525286,6.491307,3.478899,2.151942,...,0.952720,48.089868,30.684299,610.579856,733.732082,0.232726,139.492697,139.492697,49.730291,8.456464
min,20.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,26.000000,212.250000,90.00000,102.000000,0.000000,6.000000,3.000000,3.000000,0.000000,0.000000,...,0.682500,40.000000,35.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,4.000000
50%,29.000000,1115.500000,540.00000,565.000000,0.000000,19.000000,10.000000,9.500000,0.000000,0.000000,...,1.210000,63.000000,67.000000,332.000000,0.000000,0.100000,134.500000,134.500000,-1.000000,11.000000
75%,32.000000,2185.500000,1126.75000,1121.500000,1.000000,30.000000,15.000000,15.000000,2.000000,1.000000,...,1.580000,80.000000,83.000000,676.250000,682.500000,0.200000,276.750000,276.750000,32.750000,18.000000
max,42.000000,3420.000000,1710.00000,1710.000000,1.000000,38.000000,19.000000,19.000000,22.000000,18.000000,...,8.570000,353.000000,90.000000,3420.000000,3420.000000,4.090000,419.000000,419.000000,175.000000,31.000000

In [38]:
# Drop missings
df.dropna(inplace = True)
# Save X data
X = df.drop(columns = 'nationality')
# Encode our target
y = df['nationality']
# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=3)
# Scale our data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

*Definicion de la estructura*

In [39]:
input_shape = X_train.shape[1]
print('la cantidad de caracteristicas (cols) es:',input_shape)

la cantidad de caracteristicas (cols) es: 39

In [40]:
model.add(tf.keras.layers.Dense(300, activation='relu')) # Primera capa oculta, salida 300
model.add(tf.keras.layers.Dense(100, activation='relu')) # Segunda capa oculta, salida 100
model.add(tf.keras.layers.Dense(10, activation='softmax')) # Capa de salida, salida 10 (número de clases)

In [17]:
model.summary()
model.compile(loss="sparse_categorical_crossentropy",
              optimizer="sgd",
              metrics=["accuracy"])

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 39)                1560

 dense_4 (Dense)             (None, 20)                800

 dense_5 (Dense)             (None, 10)                210

 dense_6 (Dense)             (None, 1)                 11

 dense_7 (Dense)             (None, 300)               600

 dense_8 (Dense)             (None, 100)               30100

 dense_9 (Dense)             (None, 10)                1010

=================================================================
Total params: 34,291
Trainable params: 34,291
Non-trainable params: 0
_________________________________________________________________

In [18]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, 
                                                  stratify=y_train)

In [19]:
history = model.fit(X_train, y_train, epochs=30, batch_size=20000,
                    validation_data=(X_val, y_val))

Epoch 1/30
1/1 [==============================] - 1s 586ms/step - loss: 2.3211 - accuracy: 0.0176 - val_loss: 2.3093 - val_accuracy: 0.5465
Epoch 2/30
1/1 [==============================] - 0s 29ms/step - loss: 2.3112 - accuracy: 0.5132 - val_loss: 2.3006 - val_accuracy: 0.5930
Epoch 3/30
1/1 [==============================] - 0s 50ms/step - loss: 2.3025 - accuracy: 0.5455 - val_loss: 2.2919 - val_accuracy: 0.6047
Epoch 4/30
1/1 [==============================] - 0s 27ms/step - loss: 2.2937 - accuracy: 0.5601 - val_loss: 2.2828 - val_accuracy: 0.6047
Epoch 5/30
1/1 [==============================] - 0s 30ms/step - loss: 2.2847 - accuracy: 0.5601 - val_loss: 2.2736 - val_accuracy: 0.6047
Epoch 6/30
1/1 [==============================] - 0s 27ms/step - loss: 2.2755 - accuracy: 0.5689 - val_loss: 2.2643 - val_accuracy: 0.6047
Epoch 7/30
1/1 [==============================] - 0s 28ms/step - loss: 2.2662 - accuracy: 0.5748 - val_loss: 2.2551 - val_accuracy: 0.6163
Epoch 8/30
1/1 [==============================] - 0s 31ms/step - loss: 2.2569 - accuracy: 0.5748 - val_loss: 2.2458 - val_accuracy: 0.6163
Epoch 9/30
1/1 [==============================] - 0s 32ms/step - loss: 2.2476 - accuracy: 0.5894 - val_loss: 2.2364 - val_accuracy: 0.6163
Epoch 10/30
1/1 [==============================] - 0s 30ms/step - loss: 2.2383 - accuracy: 0.5894 - val_loss: 2.2271 - val_accuracy: 0.6163
Epoch 11/30
1/1 [==============================] - 0s 32ms/step - loss: 2.2289 - accuracy: 0.5894 - val_loss: 2.2178 - val_accuracy: 0.6163
Epoch 12/30
1/1 [==============================] - 0s 35ms/step - loss: 2.2196 - accuracy: 0.5894 - val_loss: 2.2085 - val_accuracy: 0.6163
Epoch 13/30
1/1 [==============================] - 0s 31ms/step - loss: 2.2103 - accuracy: 0.5894 - val_loss: 2.1991 - val_accuracy: 0.6163
Epoch 14/30
1/1 [==============================] - 0s 30ms/step - loss: 2.2009 - accuracy: 0.5894 - val_loss: 2.1896 - val_accuracy: 0.6163
Epoch 15/30
1/1 [==============================] - 0s 28ms/step - loss: 2.1914 - accuracy: 0.5924 - val_loss: 2.1801 - val_accuracy: 0.6163
Epoch 16/30
1/1 [==============================] - 0s 27ms/step - loss: 2.1819 - accuracy: 0.5953 - val_loss: 2.1706 - val_accuracy: 0.6163
Epoch 17/30
1/1 [==============================] - 0s 28ms/step - loss: 2.1724 - accuracy: 0.5953 - val_loss: 2.1611 - val_accuracy: 0.6163
Epoch 18/30
1/1 [==============================] - 0s 29ms/step - loss: 2.1630 - accuracy: 0.5982 - val_loss: 2.1517 - val_accuracy: 0.6163
Epoch 19/30
1/1 [==============================] - 0s 29ms/step - loss: 2.1536 - accuracy: 0.6041 - val_loss: 2.1423 - val_accuracy: 0.6163
Epoch 20/30
1/1 [==============================] - 0s 34ms/step - loss: 2.1442 - accuracy: 0.6276 - val_loss: 2.1330 - val_accuracy: 0.6744
Epoch 21/30
1/1 [==============================] - 0s 27ms/step - loss: 2.1349 - accuracy: 0.6598 - val_loss: 2.1237 - val_accuracy: 0.8605
Epoch 22/30
1/1 [==============================] - 0s 28ms/step - loss: 2.1256 - accuracy: 0.8798 - val_loss: 2.1144 - val_accuracy: 0.8605
Epoch 23/30
1/1 [==============================] - 0s 27ms/step - loss: 2.1163 - accuracy: 0.8768 - val_loss: 2.1052 - val_accuracy: 0.8488
Epoch 24/30
1/1 [==============================] - 0s 28ms/step - loss: 2.1071 - accuracy: 0.8710 - val_loss: 2.0960 - val_accuracy: 0.8488
Epoch 25/30
1/1 [==============================] - 0s 32ms/step - loss: 2.0979 - accuracy: 0.8680 - val_loss: 2.0868 - val_accuracy: 0.8140
Epoch 26/30
1/1 [==============================] - 0s 46ms/step - loss: 2.0887 - accuracy: 0.8592 - val_loss: 2.0776 - val_accuracy: 0.8023
Epoch 27/30
1/1 [==============================] - 0s 27ms/step - loss: 2.0796 - accuracy: 0.8504 - val_loss: 2.0684 - val_accuracy: 0.8023
Epoch 28/30
1/1 [==============================] - 0s 27ms/step - loss: 2.0704 - accuracy: 0.8387 - val_loss: 2.0593 - val_accuracy: 0.7791
Epoch 29/30
1/1 [==============================] - 0s 30ms/step - loss: 2.0613 - accuracy: 0.8152 - val_loss: 2.0501 - val_accuracy: 0.7674
Epoch 30/30
1/1 [==============================] - 0s 27ms/step - loss: 2.0521 - accuracy: 0.7801 - val_loss: 2.0410 - val_accuracy: 0.7558

In [20]:
score, acc = model.evaluate(X_test, y_test,
                            batch_size=32)
print("Score:", score) # Función de pérdida
print("Accuracy:", acc)

5/5 [==============================] - 0s 3ms/step - loss: 2.0752 - accuracy: 0.6084
Score: 2.075159788131714
Accuracy: 0.6083915829658508

In [22]:
class_names = df.columns

Index(['age', 'minutes_played_overall', 'minutes_played_home',
       'minutes_played_away', 'nationality', 'appearances_overall',
       'appearances_home', 'appearances_away', 'goals_overall', 'goals_home',
       'goals_away', 'assists_overall', 'assists_home', 'assists_away',
       'penalty_goals', 'penalty_misses', 'clean_sheets_overall',
       'clean_sheets_home', 'clean_sheets_away', 'conceded_overall',
       'conceded_home', 'conceded_away', 'yellow_cards_overall',
       'red_cards_overall', 'goals_involved_per_90_overall',
       'assists_per_90_overall', 'goals_per_90_overall', 'goals_per_90_home',
       'goals_per_90_away', 'min_per_goal_overall', 'conceded_per_90_overall',
       'min_per_conceded_overall', 'min_per_match', 'min_per_card_overall',
       'min_per_assist_overall', 'cards_per_90_overall',
       'rank_in_league_top_attackers', 'rank_in_league_top_midfielders',
       'rank_in_league_top_defenders', 'rank_in_club_top_scorer'],
      dtype='object')

In [33]:
dato = 13
#dato=12
prediction = model.predict(X_test)
classes_x=np.argmax(prediction,axis=1)
print("Predicción:", class_names[classes_x[dato]])
print("Clase Real:", class_names[y_test[dato]])

Predicción: age
Clase Real: age