<a href="https://colab.research.google.com/github/Jorge2018/DataScience2022-2/blob/main/Script_testML_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
########### Codigo lee archivo excel desde github
import pandas as pd
import numpy as np
from pandas import DataFrame
import re
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split


url = "https://github.com/Jorge2018/DataScience2022-2/blob/main/medical.xlsx?raw=true"

response = requests.get(url)

dest = 'local-file.xlsx'

with open(dest, 'wb') as file:
    file.write(response.content)

df = pd.read_excel(dest)

df.head()

,State,Lat,Lng,Area,Children,Age,Income,Marital,Gender,ReAdmis,...,Hyperlipidemia,BackPain,Anxiety,Allergic_rhinitis,Reflux_esophagitis,Asthma,Services,Initial_days,TotalCharge,Additional_charges
0,AL,34.34960,-86.72508,Suburban,1.0,53.0,86575.93,Divorced,Male,0.0,...,0.0,1.0,1.0,1.0,0.0,1.0,Blood Work,10.585770,3726.702860,17939.403420
1,FL,30.84513,-85.22907,Urban,3.0,51.0,46805.99,Married,Female,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,Intravenous,15.129562,4193.190458,17612.998120
2,SD,43.54321,-96.63772,Suburban,3.0,53.0,14370.14,Widowed,Female,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,Blood Work,4.772177,2434.234222,17505.192460
3,MN,43.89744,-93.51479,Suburban,0.0,78.0,39741.49,Married,Male,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,Blood Work,1.714879,2127.830423,12993.437350
4,VA,37.59894,-76.88958,Rural,1.0,22.0,1209.56,Widowed,Female,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,CT Scan,1.254807,2113.073274,3716.525786

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   State               1000 non-null   object
 1   Lat                 1000 non-null   float64
 2   Lng                 1000 non-null   float64
 3   Area                1000 non-null   object
 4   Children            1000 non-null   float64
 5   Age                 1000 non-null   float64
 6   Income              1000 non-null   float64
 7   Marital             1000 non-null   object
 8   Gender              1000 non-null   object
 9   ReAdmis             1000 non-null   float64
 10  VitD_levels         1000 non-null   float64
 11  Doc_visits          1000 non-null   float64
 12  Full_meals_eaten    1000 non-null   float64
 13  vitD_supp           1000 non-null   float64
 14  Soft_drink          1000 non-null   float64
 15  Initial_admin       1000 non-null   object
 16  HighBlood           1000 non-null   float64
 17  Stroke              1000 non-null   float64
 18  Complication_risk   1000 non-null   object
 19  Overweight          1000 non-null   float64
 20  Arthritis           1000 non-null   float64
 21  Diabetes            1000 non-null   float64
 22  Hyperlipidemia      1000 non-null   float64
 23  BackPain            1000 non-null   float64
 24  Anxiety             1000 non-null   float64
 25  Allergic_rhinitis   1000 non-null   float64
 26  Reflux_esophagitis  1000 non-null   float64
 27  Asthma              1000 non-null   float64
 28  Services            1000 non-null   object
 29  Initial_days        1000 non-null   float64
 30  TotalCharge         1000 non-null   float64
 31  Additional_charges  1000 non-null   float64
dtypes: float64(25), object(7)
memory usage: 250.1+ KB

In [13]:
X = df.drop(columns = 'Additional_charges')
y = df['Additional_charges']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [15]:
# Instanciar los selectores de columnas categóricas y numéricas para seleccionar las columnas adecuadas
cat_selector = make_column_selector(dtype_include='object')
num_selector = make_column_selector(dtype_include='number')

# Instanciar el escalador estándar y el codificador one hot
scaler = StandardScaler()
ohe = OneHotEncoder(handle_unknown='ignore')

# emparejamiento de cols con la tranformacion a utilizar. sobre valores numericos se utilizara StandardScaler, mientras sobre los categoricos OneHotEncoder
num_tuple = (scaler, num_selector)
cat_tuple = (ohe, cat_selector)

# instancia de col transformer, utilizando las tuplas creadas anteriormente
col_transformer = make_column_transformer(num_tuple, cat_tuple, remainder = 'passthrough')

# el transformador de cols solo sera utilizado en los datos de entrenamiento
col_transformer.fit(X_train)

# se procede con la transformacion de ambos df entrenamiento y prueba
X_train_processed = col_transformer.transform(X_train)
X_test_processed = col_transformer.transform(X_test)

In [16]:
# convierte en df y muestra los datos recien creados
X_train_df = pd.DataFrame(X_train_processed)
X_train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-0.508205,0.281935,-0.060153,0.272586,-1.123467,0.0,0.509399,-0.008943,0.014639,-0.620174,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,-0.720642,0.252836,1.241233,1.119125,-0.619881,0.0,-0.999823,1.907372,0.014639,-0.620174,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,-0.493403,0.482823,-0.493948,0.272586,-0.518276,0.0,0.119354,-0.967100,0.014639,-0.620174,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1.134821,-0.434666,2.108824,1.307245,1.938720,0.0,-1.044875,-0.008943,-0.983474,2.762592,...,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.587322,0.497439,-0.927744,-0.809103,-0.328240,0.0,1.283708,-0.008943,0.014639,-0.620174,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0