<a href="https://colab.research.google.com/github/Jorge2018/DataScience2022-2/blob/main/Script_fundamentosSQL3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
school_df = pd.read_csv(r'https://raw.githubusercontent.com/Jorge2018/RepositorioArchivos/main/School_Details.csv')
school_df.head(2)

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.

In [28]:
facility = pd.read_csv(r'https://raw.githubusercontent.com/Jorge2018/RepositorioArchivos/main/School_Facility_Details.csv')
facility.head(2)

,EstablishmentCode,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available
1,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available

In [8]:
school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DistrictName                1249 non-null   object
 1   EstablishmentCode           1249 non-null   object
 2   EstablishmentName           1249 non-null   object
 3   BRCName                     1249 non-null   object
 4   CRCName                     1249 non-null   object
 5   SchoolLevel                 1246 non-null   object
 6   ManagementName              1246 non-null   object
 7   LocalityHabitation          1221 non-null   object
 8   SubdivisionName             1241 non-null   object
 9   ConstituencyName            1249 non-null   object
 10  RevenueBlockName            1249 non-null   object
 11  CivicBodyName               1249 non-null   object
 12  WardName                    1249 non-null   object
 13  PostOfficeName              1249 non-null   object
 14  PhoneNo                     794 non-null    object
 15  FaxNo                       20 non-null     object
 16  EmailID                     182 non-null    object
 17  Website                     24 non-null     object
 18  LocatedInRuralOrUrban       1249 non-null   object
 19  DiseCode                    439 non-null    object
 20  EstablishedDate             1230 non-null   object
 21  DistrictHQDistance (in Km)  1246 non-null   float64
 22  CRCDistance (in Km)         1246 non-null   float64
 23  BACDistance (in Km)         1246 non-null   float64
 24  IsRecognized                1246 non-null   object
 25  RecognizedBy                1004 non-null   object
 26  ContactPersonName           0 non-null      float64
 27  LowestClass                 1246 non-null   object
 28  HighestClass                1246 non-null   object
 29  BoardName                   784 non-null    object
dtypes: float64(4), object(26)
memory usage: 292.9+ KB

In [29]:
facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EstablishmentCode           1256 non-null   object
 1   EstablishmentName           1256 non-null   object
 2   IsLibraryAvailable          1256 non-null   object
 3   AvailableBooksCount         1256 non-null   int64
 4   IsFireExtgAvailable         1256 non-null   object
 5   ExtinguisherCount           1256 non-null   int64
 6   HOIRoomAvailable            1256 non-null   object
 7   IsStaffRoomAvailable        1256 non-null   object
 8   NoofStaffRoom               1256 non-null   int64
 9   IsLockerForStaffAvailable   1256 non-null   object
 10  IsSportsStoreRoomAvailable  1256 non-null   object
dtypes: int64(3), object(8)
memory usage: 108.1+ KB

*Creacion de bbdd y conection*

In [30]:
# create sqlite engine for a database called schools
engine = create_engine('sqlite:///schools.db', echo=True)
# create connection to engine
conn = engine.connect()

*Agregacion de tb a la bbdd recien creada*

In [32]:
# add the dataframe as a table in sqlite
sqlite_table = "school"
school_df.to_sql(sqlite_table, conn, if_exists='fail')
sqlite_table2 = "school_facility"
facility.to_sql(sqlite_table2, conn, if_exists='fail')

2022-10-04 15:45:39,568 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("school")

2022-10-04 15:45:39,572 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-10-04 15:45:39,580 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("school")

2022-10-04 15:45:39,583 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-10-04 15:45:39,597 INFO sqlalchemy.engine.Engine
CREATE TABLE school (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE school (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)

2022-10-04 15:45:39,604 INFO sqlalchemy.engine.Engine [no key 0.00784s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00784s] ()

2022-10-04 15:45:39,621 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-10-04 15:45:39,625 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_index ON school ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_school_index ON school ("index")

2022-10-04 15:45:39,627 INFO sqlalchemy.engine.Engine [no key 0.00293s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00293s] ()

2022-10-04 15:45:39,644 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-10-04 15:45:39,658 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-10-04 15:45:39,727 INFO sqlalchemy.engine.Engine INSERT INTO school ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO school ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2022-10-04 15:45:39,733 INFO sqlalchemy.engine.Engine [generated in 0.05829s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))

INFO:sqlalchemy.engine.Engine:[generated in 0.05829s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))

2022-10-04 15:45:39,761 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-10-04 15:45:39,786 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_facility")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("school_facility")

2022-10-04 15:45:39,791 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-10-04 15:45:39,794 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_facility")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("school_facility")

2022-10-04 15:45:39,797 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2022-10-04 15:45:39,806 INFO sqlalchemy.engine.Engine
CREATE TABLE school_facility (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE school_facility (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)

2022-10-04 15:45:39,810 INFO sqlalchemy.engine.Engine [no key 0.00359s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00359s] ()

2022-10-04 15:45:39,824 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-10-04 15:45:39,830 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_facility_index ON school_facility ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX ix_school_facility_index ON school_facility ("index")

2022-10-04 15:45:39,833 INFO sqlalchemy.engine.Engine [no key 0.00411s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00411s] ()

2022-10-04 15:45:39,847 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2022-10-04 15:45:39,858 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2022-10-04 15:45:39,992 INFO sqlalchemy.engine.Engine INSERT INTO school_facility ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO school_facility ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2022-10-04 15:45:40,000 INFO sqlalchemy.engine.Engine [generated in 0.02979s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))

INFO:sqlalchemy.engine.Engine:[generated in 0.02979s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))

2022-10-04 15:45:40,024 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

# R1

In [33]:
# Write your SQL query in this string
sql = """
SELECT AVG(`BACDistance (in Km)`) AS avg_bac_distance FROM SCHOOL ;
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2022-10-04 15:48:50,622 INFO sqlalchemy.engine.Engine
SELECT AVG(`BACDistance (in Km)`) AS avg_bac_distance FROM SCHOOL

INFO:sqlalchemy.engine.Engine:
SELECT AVG(`BACDistance (in Km)`) AS avg_bac_distance FROM SCHOOL

2022-10-04 15:48:50,626 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

   avg_bac_distance
0         12.681822

# R2

In [35]:
# Write the SQL query
sql = """SELECT SchoolLevel,AVG(`BACDistance (in Km)`) AS avg_bac_distance 
FROM SCHOOL
GROUP BY SchoolLevel
ORDER BY  AVG(`BACDistance (in Km)`) DESC ;
 """
# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

2022-10-04 15:51:12,491 INFO sqlalchemy.engine.Engine SELECT SchoolLevel,AVG(`BACDistance (in Km)`) AS avg_bac_distance
FROM SCHOOL
GROUP BY SchoolLevel
ORDER BY  AVG(`BACDistance (in Km)`) DESC ;

INFO:sqlalchemy.engine.Engine:SELECT SchoolLevel,AVG(`BACDistance (in Km)`) AS avg_bac_distance
FROM SCHOOL
GROUP BY SchoolLevel
ORDER BY  AVG(`BACDistance (in Km)`) DESC ;

2022-10-04 15:51:12,497 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095
4         LPS          5.368421
5        None               NaN

# R3

In [39]:
# Write the SQL query
sql = """SELECT SchoolLevel,AVG(`BACDistance (in Km)`) AS avg_bac_distance 
FROM SCHOOL
GROUP BY SchoolLevel
HAVING AVG(`BACDistance (in Km)`) > 10
 ;
 """
# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

2022-10-04 15:54:01,691 INFO sqlalchemy.engine.Engine SELECT SchoolLevel,AVG(`BACDistance (in Km)`) AS avg_bac_distance
FROM SCHOOL
GROUP BY SchoolLevel
HAVING AVG(`BACDistance (in Km)`) > 10
 ;

INFO:sqlalchemy.engine.Engine:SELECT SchoolLevel,AVG(`BACDistance (in Km)`) AS avg_bac_distance
FROM SCHOOL
GROUP BY SchoolLevel
HAVING AVG(`BACDistance (in Km)`) > 10
 ;

2022-10-04 15:54:01,699 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

  SchoolLevel  avg_bac_distance
0         JHS         13.692647
1          PS         12.830787
2          SS         12.630872
3         SSS         10.863095

# R4

In [40]:
# Write the SQL query
sql = """SELECT * FROM SCHOOL AS UNO INNER JOIN SCHOOL_FACILITY AS DOS ON
UNO.EstablishmentCode=DOS.EstablishmentCode
LIMIT 2
 ;
 """
# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

2022-10-04 15:56:11,689 INFO sqlalchemy.engine.Engine SELECT * FROM SCHOOL AS UNO INNER JOIN SCHOOL_FACILITY AS DOS ON
UNO.EstablishmentCode=DOS.EstablishmentCode
LIMIT 2
 ;

INFO:sqlalchemy.engine.Engine:SELECT * FROM SCHOOL AS UNO INNER JOIN SCHOOL_FACILITY AS DOS ON
UNO.EstablishmentCode=DOS.EstablishmentCode
LIMIT 2
 ;

2022-10-04 15:56:11,695 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

# R5

In [42]:
# Write the SQL query
sql = """SELECT * FROM SCHOOL AS UNO INNER JOIN SCHOOL_FACILITY AS DOS ON
UNO.EstablishmentCode=DOS.EstablishmentCode
WHERE UNO.SCHOOLLEVEL='PS'
 ;
 """
# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

2022-10-04 15:58:23,284 INFO sqlalchemy.engine.Engine SELECT * FROM SCHOOL AS UNO INNER JOIN SCHOOL_FACILITY AS DOS ON
UNO.EstablishmentCode=DOS.EstablishmentCode
WHERE UNO.SCHOOLLEVEL='PS'
 ;

INFO:sqlalchemy.engine.Engine:SELECT * FROM SCHOOL AS UNO INNER JOIN SCHOOL_FACILITY AS DOS ON
UNO.EstablishmentCode=DOS.EstablishmentCode
WHERE UNO.SCHOOLLEVEL='PS'
 ;

2022-10-04 15:58:23,292 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,5,East,S0856,EASWARAMMA SAI GURUKOOL ACCADEMY,Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),RALUNG,Gangtok,...,EASWARAMMA SAI GURUKOOL ACCADEMY,Not Available,0,Available,2,Available,Not Available,0,Not Available,Not Available
2,6,East,S0870,"ETERNAL ENGLISH SCHOOL, WEST PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),SAKHU WEST PENDAM,Gangtok,...,"ETERNAL ENGLISH SCHOOL, WEST PENDAM",Available,0,Available,1,Not Available,Not Available,0,Not Available,Not Available
3,7,East,S0157,KHANI GOAN GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,WEST PENDAM,Gangtok,...,KHANI GOAN GOVERNMENT PRIMARY SCHOOL,Available,60,Available,2,Not Available,Available,1,Available,Not Available
4,8,East,S0876,NEW GARDEN BOARDING SCHOOL (SAJONG),Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,NEW GARDEN BOARDING SCHOOL (SAJONG),Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,1244,West,S0336,MANGSABONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGSABONG BUSTY,Gyalshing,...,MANGSABONG GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Not Available,Not Available,0,Not Available,Not Available
619,1245,West,S0591,MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA),Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,MANGTABONG(YUKSAM),Gyalshing,...,MANGTABONG GOVERNMENT PRIMARY SCHOOL(SSA),Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Available
620,1246,West,S1045,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",Yuksom Brc,Yuksom Government Secondary School,PS,Private (Unaided),"LASSO, TASHIDING",Gyalshing,...,"NEW HORIZON ACADEMY, LASSO(TASHIDING)",Not Available,0,Available,0,Not Available,Not Available,0,Not Available,Not Available
621,1247,West,S0340,TINGTING GAON GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TING TING GAON,Gyalshing,...,TINGTING GAON GOVERNMENT PRIMARY SCHOOL,Available,40,Available,2,Available,Available,1,Not Available,Not Available
622,1248,West,S0542,TSONG GOVERNMENT PRIMARY SCHOOL,Yuksom Brc,Yuksom Government Secondary School,PS,State Govt.,TSONG,Gyalshing,...,TSONG GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Available,Not Available,0,Not Available,Available

# R6

In [43]:
sql = """SELECT * FROM SCHOOL AS UNO INNER JOIN SCHOOL_FACILITY AS DOS ON
UNO.EstablishmentCode=DOS.EstablishmentCode
WHERE UNO.SCHOOLLEVEL='PS'
ORDER BY UNO.EstablishmentName DESC
 ;
 """
# Read the sql query into pandas to view the results
pd.read_sql_query(sql, engine)

2022-10-04 15:59:06,062 INFO sqlalchemy.engine.Engine SELECT * FROM SCHOOL AS UNO INNER JOIN SCHOOL_FACILITY AS DOS ON
UNO.EstablishmentCode=DOS.EstablishmentCode
WHERE UNO.SCHOOLLEVEL='PS'
ORDER BY UNO.EstablishmentName DESC
 ;

INFO:sqlalchemy.engine.Engine:SELECT * FROM SCHOOL AS UNO INNER JOIN SCHOOL_FACILITY AS DOS ON
UNO.EstablishmentCode=DOS.EstablishmentCode
WHERE UNO.SCHOOLLEVEL='PS'
ORDER BY UNO.EstablishmentName DESC
 ;

2022-10-04 15:59:06,069 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,206,East,S0138,ZINGLA GOVERNMENT PRIMARY SCHOOL,Martam Brc,Sang Government Senior Secondary School,PS,State Govt.,ZINGLA BUSTY,Gangtok,...,ZINGLA GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
1,516,North,S0990,ZENITH PUBLIC SCHOOL,Mangan Brc,Singhik Government Secondary School,PS,Private (Unaided),None,Mangan,...,ZENITH PUBLIC SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
2,1031,West,S0288,YANGTEY GOVERNMENT PRIMARY SCHOOL,Gyalshing Brc,Gyalshing senior secondary school,PS,State Govt.,YANGTEY,Gyalshing,...,YANGTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
3,66,East,S0207,YALLI GOVERNMENT PRIMARY SCHOOL,Gangtok Brc,Enchey Government Senior Secondary School,PS,State Govt.,YALLI,Gangtok,...,YALLI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Available,Available,1,Not Available,Not Available
4,141,East,S1157,"WRENS PUBLIC SCHOOL, ARITHANG",Gangtok Brc,Tashi Namgyal Government Senior Secondary School,PS,Private (Unaided),"ARITHANG, GANGTOK",Gangtok,...,"WRENS PUBLIC SCHOOL, ARITHANG",Not Available,0,Available,1,Not Available,Available,1,Not Available,Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,345,East,S0178,AGRIGAON GOVERNMENT PRIMARY SCHOOL,Regu Brc,Dalapchen Government Secondary School,PS,State Govt.,AGRIGAON BUSTY,Rongli,...,AGRIGAON GOVERNMENT PRIMARY SCHOOL,Available,60,Available,2,Not Available,Available,1,Not Available,Not Available
619,1102,West,S0374,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Soreng Brc,Chumbong Government Secondary School,PS,State Govt.,AARUBOTEY,Soreng,...,AARUBOTEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,2,Not Available,Not Available,0,Not Available,Not Available
620,816,South,S0692,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Temi Brc,Namphing Government Junior High School,PS,State Govt.,AAPGAZI,Namchi,...,AAPGAZI GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Not Available
621,54,East,S0516,10TH MILE GOVERNMENT PRIMARY SCHOOL,Gangtok Brc,Enchey Government Senior Secondary School,PS,State Govt.,10TH MILE KARPONANG,Gangtok,...,10TH MILE GOVERNMENT PRIMARY SCHOOL,Not Available,0,Not Available,0,Available,Available,1,Not Available,Not Available
622,1219,West,S1034,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Yuksom Brc,Melli Government Secondary School,PS,Private (Unaided),RIMBI/ SINGLITAM BUSTY,Gyalshing,...,(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PR...,Not Available,0,Available,1,Available,Not Available,0,Not Available,Not Available